<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path('app_home')}}">
            <img src="{{chemin_images ~ "logo.png"}}" alt="e-biblio" class="vignette">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {# {% if not is_granted("IS_AUTHENTIFICATED_FULLY") %}  pour savoir si l'utilsateur est connecté#}
                
                {% if not app.user %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{path('app_login')}}">
                            <i class="fa fa-sign-in-alt"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_register')}}">
                            <i class="fa fa-user-plus"></i>
                        </a>
                    </li>
                    
                {% else %}                       

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{path('app_logout')}}">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">
                            <i class="fa fa-user"></i> {{ app.user.pseudo }}
                        </a>
                    </li>
                    {# la fonction is_granted renvoi true si l'argument #}
                    {% if is_granted("ROLE_ADMIN") %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Auteurs         
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_auteur_index') }}">
                                        Liste
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_auteur_new') }}">
                                        Ajouter
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Livres         
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_livre_index') }}">
                                        Liste
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_livre_new') }}">
                                        Ajouter
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{path('app_admin_genre_index')}}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Genres         
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_genre_index') }}">
                                        Liste
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_genre_new') }}">
                                        Ajouter
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{path('app_admin_abonne_index')}}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Abonnés         
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_abonne_index') }}">
                                        Liste
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_abonne_new') }}">
                                        Ajouter
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="{{path('app_admin_emprunt_index')}}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Emprunts        
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_emprunt_index') }}">
                                        Liste
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_admin_emprunt_new') }}">
                                        Ajouter
                                    </a>
                                </li>
                            </ul>
                        </li>

                        {# <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Test         
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_auteur') }}">
                                        Liste auteurs
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_auteur_ajouter') }}">
                                        Ajouter auteur
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{{ path('app_auteur_nouveau') }}">
                                        Nouvel auteur
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        Something else here
                                    </a>
                                </li>
                            </ul>
                        </li> #}
                    {% endif %}
                {% endif %}
            </ul>
            <form class="d-flex" action="{{path("app_recherche")}}">
                <input class="form-control me-2" type="search" name="recherche" placeholder="Recherche..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>
</nav>
        