{% extends 'admin_base.html.twig' %}

{% block title %}Emprunt index{% endblock %}

{% block body %}
    <h1>Emprunt index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Abonne</th>
                <th>Livre</th>
                <th>Date Emprunt</th>
                <th>Date Retour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emprunt in emprunts %}
            <tr>
                <td>{{ emprunt.id }}</td>
                <td>{{ emprunt.abonne.pseudo }}</td>
                <td>{{ emprunt.livre.titreAuteur }}</td>
                <td>{{ emprunt.dateEmprunt ? emprunt.dateEmprunt|date() }}</td>
                <td>{{ emprunt.dateRetour ? emprunt.dateRetour|date() : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_emprunt_show', {'id': emprunt.id}) }}">
                        <i class="fa fa-eye"></i>
                    </a>
                    <a href="{{ path('app_admin_emprunt_edit', {'id': emprunt.id}) }}">
                        <i class="fa fa-edit"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun emprunt enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_admin_emprunt_new') }}"><i class="fa fa-plus"></i> Ajouter un emprunt</a>
{% endblock %}
